.navbar {
  display: flex;
  justify-content: start;
  align-items: end;
  background: rgba(0, 0, 0,0);
  padding: 0px 20px;
  color: white;
  position: static;
  
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
    padding-top: 10px;

    justify-content: start;
  align-items:center;
}



.menu-bars {
  background: black;
  border: none;
  font-size: 2em;
  cursor: pointer;
  color: white;
  justify-content: end;
  align-items:end;
  z-index: 1000;
  padding: 5px;
  display: flex;
  border-radius: 5px;
}

/* Sidebar styles */
.nav-menu {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background: linear-gradient(to left, rgba(21, 12, 58, 0.2), rgba(244, 60, 60, 0.1));
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  overflow-y: hidden;
  overflow-x: hidden;
  z-index: 100;
}

.nav-menu.active {
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-top: 70px;
  z-index: 100;

}

.nav-menu ul {
  width: 100%;
  list-style: none;
  padding: 0px;
  
}

.nav-menu ul li {
  width: 100%;
  padding: 30px 20px;
  border-bottom: 1px solid #444;
}

.nav-menu ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  display: block;
}

.nav-menu ul li a:hover {
  color: #575757;
}

.name-text{
  -webkit-text-stroke:rgb(255, 157, 0) 2px;
  background:linear-gradient(red,rgb(141, 4, 4),red);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 40px;
  font-family: "Goblin One";
  filter: drop-shadow(0 0px 0px rgb(255, 157, 0));
}

.Nav-bottom{
  position: relative;
  top: 30%;
  left: -8%;
}

 .Nav-follow-me{
        border-bottom: 1px solid #444;
        width: 120px;
        max-width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        bottom: 0%;
    }
    .Nav-Socials{
      display: flex;
      gap: 20px;
      font-size: 2.5rem;
      margin-top: -12px;
      

    }
    .Nav-Socials a{
      color: #c8c2c2;
    }
    .Nav-Socials a:hover{
      color:rgb(10, 102, 194);
    }

    @media screen and (max-height:897px) {
      .Nav-Socials{
      display: flex;
      gap: 20px;
      font-size: 2.5rem;
      margin-top: -12px;
      

    }
    .Nav-bottom{
  position: relative;
  top: 14%;
  left: -8%;
}
.nav-menu ul li a {
  font-size: 1.5em;
}
}
    @media screen and (max-width:600px) {

    }